<nav class="navbar">

    <div class="navbar-logo">

        <img src="assets/img/logo_sin _fondo.png" alt="Core Digital">

     

    </div>

    <ul class="navbar-menu">

        <li class="active">
            <i class="fa-solid fa-house"></i>
            Inicio
        </li>

        <li>
            <i class="fa-solid fa-cart-shopping"></i>
            Ventas
        </li>

        <li>
            <i class="fa-solid fa-box"></i>
            Productos
        </li>

        <li>
            <i class="fa-solid fa-users"></i>
            Clientes
        </li>

        <li>
            <i class="fa-solid fa-chart-line"></i>
            Reportes
        </li>

    </ul>

    <div class="navbar-user">

        <button class="icon-btn">
            🔔
        </button>

        <button class="icon-btn">
            ⚙️
        </button>

        <div class="user-profile">

            <img src="assets/img/avatar.png">

            <div>

                <strong>Daniel</strong>

                <small>Administrador</small>

            </div>

        </div>

    </div>

</nav>