/* You can add global styles to this file, and also import other style files */
/* =========================================================
   RESETEO GLOBAL
========================================================= */

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100%;

  box-sizing: border-box;
}


/* =========================================================
   BOX SIZING GLOBAL
========================================================= */

*,
*::before,
*::after {
  box-sizing: inherit;
}


/* =========================================================
   BODY
========================================================= */

body {
  overflow-x: hidden;
}